In [1]:
using Pkg

In [2]:
Pkg.add("StatsBase")

    Updating registry at `C:\Users\amans\.julia\registries\General.toml`
   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [3]:
Pkg.add("NNlib")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [4]:
Pkg.add("Missings")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [5]:
Pkg.add("CSV")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [6]:
Pkg.add("MLDatasets")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [7]:
Pkg.add("Flux")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [8]:
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [9]:
Pkg.add("Parameters")

   Resolving package versions...
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\amans\.julia\environments\v1.7\Manifest.toml`

In [1]:
using Parameters: @with_kw

In [2]:
using CSV

In [3]:
using NNlib

In [4]:
using Flux

In [5]:
using Flux: logitcrossentropy, normalise, onecold, onehotbatch, onehot

In [6]:
using MLDatasets:Titanic

In [7]:
using StatsBase

In [8]:
using DataFrames

In [9]:
using Missings

In [10]:
# Cleaning the data => Removing the "Name", "Ticket", "Cabin", "PassengerId"

In [11]:
train_data = CSV.read("D:/Julia/TitanicML/train.csv",DataFrame)

891×12 DataFrame
 Row │ PassengerId  Survived  Pclass  Name                               Sex   ⋯
     │ Int64        Int64     Int64   String                             Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1         0       3  Braund, Mr. Owen Harris            male  ⋯
   2 │           2         1       1  Cumings, Mrs. John Bradley (Flor…  femal
   3 │           3         1       3  Heikkinen, Miss. Laina             femal
   4 │           4         1       1  Futrelle, Mrs. Jacques Heath (Li…  femal
   5 │           5         0       3  Allen, Mr. William Henry           male  ⋯
   6 │           6         0       3  Moran, Mr. James                   male
   7 │           7         0       1  McCarthy, Mr. Timothy J            male
   8 │           8         0       3  Palsson, Master. Gosta Leonard     male
   9 │           9         1       3  Johnson, Mrs. Oscar W (Elisabeth…  femal ⋯
  10 │          10         1       2  Nasser, Mrs. Nicholas (Adele Ach…  femal
  11 │          11         1       3  Sandstrom, Miss. Marguerite Rut    femal
  ⋮  │      ⋮          ⋮        ⋮                     ⋮                     ⋮  ⋱
 882 │         882         0       3  Markun, Mr. Johann                 male
 883 │         883         0       3  Dahlberg, Miss. Gerda Ulrika       femal ⋯
 884 │         884         0       2  Banfield, Mr. Frederick James      male
 885 │         885         0       3  Sutehall, Mr. Henry Jr             male
 886 │         886         0       3  Rice, Mrs. William (Margaret Nor…  femal
 887 │         887         0       2  Montvila, Rev. Juozas              male  ⋯
 888 │         888         1       1  Graham, Miss. Margaret Edith       femal
 889 │         889         0       3  Johnston, Miss. Catherine Helen …  femal
 890 │         890         1       1  Behr, Mr. Karl Howell              male
 891 │         891         0       3  Dooley, Mr. Patrick                male  ⋯
                                                  8 columns and 870 rows omitted

In [12]:
describe(train_data)

12×7 DataFrame
 Row │ variable     mean      min                  median   max                ⋯
     │ Symbol       Union…    Any                  Union…   Any                ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ PassengerId  446.0     1                    446.0    891                ⋯
   2 │ Survived     0.383838  0                    0.0      1
   3 │ Pclass       2.30864   1                    3.0      3
   4 │ Name                   Abbing, Mr. Anthony           van Melkebeke, Mr.
   5 │ Sex                    female                        male               ⋯
   6 │ Age          29.6991   0.42                 28.0     80.0
   7 │ SibSp        0.523008  0                    0.0      8
   8 │ Parch        0.381594  0                    0.0      6
   9 │ Ticket                 110152                        WE/P 5735          ⋯
  10 │ Fare         32.2042   0.0                  14.4542  512.329
  11 │ Cabin                  A10                           T
  12 │ Embarked               C                             S
                                                               3 columns omitted

In [13]:
# Cleaning the data => Removing the "Name", "Ticket", "Cabin"

In [14]:
train_data = select(train_data, Not(:"Name"))

891×11 DataFrame
 Row │ PassengerId  Survived  Pclass  Sex      Age        SibSp  Parch  Ticket ⋯
     │ Int64        Int64     Int64   String7  Float64?   Int64  Int64  String ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1         0       3  male          22.0      1      0  A/5 21 ⋯
   2 │           2         1       1  female        38.0      1      0  PC 175
   3 │           3         1       3  female        26.0      0      0  STON/O
   4 │           4         1       1  female        35.0      1      0  113803
   5 │           5         0       3  male          35.0      0      0  373450 ⋯
   6 │           6         0       3  male     missing        0      0  330877
   7 │           7         0       1  male          54.0      0      0  17463
   8 │           8         0       3  male           2.0      3      1  349909
   9 │           9         1       3  female        27.0      0      2  347742 ⋯
  10 │          10         1       2  female        14.0      1      0  237736
  11 │          11         1       3  female         4.0      1      1  PP 954
  ⋮  │      ⋮          ⋮        ⋮        ⋮         ⋮        ⋮      ⋮           ⋱
 882 │         882         0       3  male          33.0      0      0  349257
 883 │         883         0       3  female        22.0      0      0  7552   ⋯
 884 │         884         0       2  male          28.0      0      0  C.A./S
 885 │         885         0       3  male          25.0      0      0  SOTON/
 886 │         886         0       3  female        39.0      0      5  382652
 887 │         887         0       2  male          27.0      0      0  211536 ⋯
 888 │         888         1       1  female        19.0      0      0  112053
 889 │         889         0       3  female   missing        1      2  W./C.
 890 │         890         1       1  male          26.0      0      0  111369
 891 │         891         0       3  male          32.0      0      0  370376 ⋯
                                                  4 columns and 870 rows omitted

In [15]:
train_data = select(train_data,Not(:"PassengerId"))

891×10 DataFrame
 Row │ Survived  Pclass  Sex      Age        SibSp  Parch  Ticket            F ⋯
     │ Int64     Int64   String7  Float64?   Int64  Int64  String31          F ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │        0       3  male          22.0      1      0  A/5 21171           ⋯
   2 │        1       1  female        38.0      1      0  PC 17599          7
   3 │        1       3  female        26.0      0      0  STON/O2. 3101282
   4 │        1       1  female        35.0      1      0  113803            5
   5 │        0       3  male          35.0      0      0  373450              ⋯
   6 │        0       3  male     missing        0      0  330877
   7 │        0       1  male          54.0      0      0  17463             5
   8 │        0       3  male           2.0      3      1  349909            2
   9 │        1       3  female        27.0      0      2  347742            1 ⋯
  10 │        1       2  female        14.0      1      0  237736            3
  11 │        1       3  female         4.0      1      1  PP 9549           1
  ⋮  │    ⋮        ⋮        ⋮         ⋮        ⋮      ⋮           ⋮            ⋱
 882 │        0       3  male          33.0      0      0  349257
 883 │        0       3  female        22.0      0      0  7552              1 ⋯
 884 │        0       2  male          28.0      0      0  C.A./SOTON 34068  1
 885 │        0       3  male          25.0      0      0  SOTON/OQ 392076
 886 │        0       3  female        39.0      0      5  382652            2
 887 │        0       2  male          27.0      0      0  211536            1 ⋯
 888 │        1       1  female        19.0      0      0  112053            3
 889 │        0       3  female   missing        1      2  W./C. 6607        2
 890 │        1       1  male          26.0      0      0  111369            3
 891 │        0       3  male          32.0      0      0  370376              ⋯
                                                  3 columns and 870 rows omitted

In [16]:
train_data = select(train_data, Not(:"Ticket"))

891×9 DataFrame
 Row │ Survived  Pclass  Sex      Age        SibSp  Parch  Fare     Cabin      ⋯
     │ Int64     Int64   String7  Float64?   Int64  Int64  Float64  String15?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │        0       3  male          22.0      1      0   7.25    missing    ⋯
   2 │        1       1  female        38.0      1      0  71.2833  C85
   3 │        1       3  female        26.0      0      0   7.925   missing
   4 │        1       1  female        35.0      1      0  53.1     C123
   5 │        0       3  male          35.0      0      0   8.05    missing    ⋯
   6 │        0       3  male     missing        0      0   8.4583  missing
   7 │        0       1  male          54.0      0      0  51.8625  E46
   8 │        0       3  male           2.0      3      1  21.075   missing
   9 │        1       3  female        27.0      0      2  11.1333  missing    ⋯
  10 │        1       2  female        14.0      1      0  30.0708  missing
  11 │        1       3  female         4.0      1      1  16.7     G6
  ⋮  │    ⋮        ⋮        ⋮         ⋮        ⋮      ⋮       ⋮         ⋮      ⋱
 882 │        0       3  male          33.0      0      0   7.8958  missing
 883 │        0       3  female        22.0      0      0  10.5167  missing    ⋯
 884 │        0       2  male          28.0      0      0  10.5     missing
 885 │        0       3  male          25.0      0      0   7.05    missing
 886 │        0       3  female        39.0      0      5  29.125   missing
 887 │        0       2  male          27.0      0      0  13.0     missing    ⋯
 888 │        1       1  female        19.0      0      0  30.0     B42
 889 │        0       3  female   missing        1      2  23.45    missing
 890 │        1       1  male          26.0      0      0  30.0     C148
 891 │        0       3  male          32.0      0      0   7.75    missing    ⋯
                                                   1 column and 870 rows omitted

In [17]:
train_data = select(train_data, Not(:"Cabin"))

891×8 DataFrame
 Row │ Survived  Pclass  Sex      Age        SibSp  Parch  Fare     Embarked
     │ Int64     Int64   String7  Float64?   Int64  Int64  Float64  String1?
─────┼───────────────────────────────────────────────────────────────────────
   1 │        0       3  male          22.0      1      0   7.25    S
   2 │        1       1  female        38.0      1      0  71.2833  C
   3 │        1       3  female        26.0      0      0   7.925   S
   4 │        1       1  female        35.0      1      0  53.1     S
   5 │        0       3  male          35.0      0      0   8.05    S
   6 │        0       3  male     missing        0      0   8.4583  Q
   7 │        0       1  male          54.0      0      0  51.8625  S
   8 │        0       3  male           2.0      3      1  21.075   S
   9 │        1       3  female        27.0      0      2  11.1333  S
  10 │        1       2  female        14.0      1      0  30.0708  C
  11 │        1       3  female         4.0      1      1  16.7     S
  ⋮  │    ⋮        ⋮        ⋮         ⋮        ⋮      ⋮       ⋮        ⋮
 882 │        0       3  male          33.0      0      0   7.8958  S
 883 │        0       3  female        22.0      0      0  10.5167  S
 884 │        0       2  male          28.0      0      0  10.5     S
 885 │        0       3  male          25.0      0      0   7.05    S
 886 │        0       3  female        39.0      0      5  29.125   Q
 887 │        0       2  male          27.0      0      0  13.0     S
 888 │        1       1  female        19.0      0      0  30.0     S
 889 │        0       3  female   missing        1      2  23.45    S
 890 │        1       1  male          26.0      0      0  30.0     C
 891 │        0       3  male          32.0      0      0   7.75    Q
                                                             870 rows omitted

In [18]:
train_data = dropmissing(train_data, :"Embarked")

889×8 DataFrame
 Row │ Survived  Pclass  Sex      Age        SibSp  Parch  Fare     Embarked
     │ Int64     Int64   String7  Float64?   Int64  Int64  Float64  String1
─────┼───────────────────────────────────────────────────────────────────────
   1 │        0       3  male          22.0      1      0   7.25    S
   2 │        1       1  female        38.0      1      0  71.2833  C
   3 │        1       3  female        26.0      0      0   7.925   S
   4 │        1       1  female        35.0      1      0  53.1     S
   5 │        0       3  male          35.0      0      0   8.05    S
   6 │        0       3  male     missing        0      0   8.4583  Q
   7 │        0       1  male          54.0      0      0  51.8625  S
   8 │        0       3  male           2.0      3      1  21.075   S
   9 │        1       3  female        27.0      0      2  11.1333  S
  10 │        1       2  female        14.0      1      0  30.0708  C
  11 │        1       3  female         4.0      1      1  16.7     S
  ⋮  │    ⋮        ⋮        ⋮         ⋮        ⋮      ⋮       ⋮        ⋮
 880 │        0       3  male          33.0      0      0   7.8958  S
 881 │        0       3  female        22.0      0      0  10.5167  S
 882 │        0       2  male          28.0      0      0  10.5     S
 883 │        0       3  male          25.0      0      0   7.05    S
 884 │        0       3  female        39.0      0      5  29.125   Q
 885 │        0       2  male          27.0      0      0  13.0     S
 886 │        1       1  female        19.0      0      0  30.0     S
 887 │        0       3  female   missing        1      2  23.45    S
 888 │        1       1  male          26.0      0      0  30.0     C
 889 │        0       3  male          32.0      0      0   7.75    Q
                                                             868 rows omitted

In [19]:
describe(train_data)

8×7 DataFrame
 Row │ variable  mean      min     median   max      nmissing  eltype          ⋯
     │ Symbol    Union…    Any     Union…   Any      Int64     Type            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Survived  0.382452  0       0.0      1               0  Int64           ⋯
   2 │ Pclass    2.31159   1       3.0      3               0  Int64
   3 │ Sex                 female           male            0  String7
   4 │ Age       29.6421   0.42    28.0     80.0          177  Union{Missing,
   5 │ SibSp     0.524184  0       0.0      8               0  Int64           ⋯
   6 │ Parch     0.382452  0       0.0      6               0  Int64
   7 │ Fare      32.0967   0.0     14.4542  512.329         0  Float64
   8 │ Embarked            C                S               0  String1
                                                                1 column omitted

In [20]:
replace!(train_data."Age", missing =>  29.6421);

In [21]:
train_data

889×8 DataFrame
 Row │ Survived  Pclass  Sex      Age       SibSp  Parch  Fare     Embarked
     │ Int64     Int64   String7  Float64?  Int64  Int64  Float64  String1
─────┼──────────────────────────────────────────────────────────────────────
   1 │        0       3  male      22.0         1      0   7.25    S
   2 │        1       1  female    38.0         1      0  71.2833  C
   3 │        1       3  female    26.0         0      0   7.925   S
   4 │        1       1  female    35.0         1      0  53.1     S
   5 │        0       3  male      35.0         0      0   8.05    S
   6 │        0       3  male      29.6421      0      0   8.4583  Q
   7 │        0       1  male      54.0         0      0  51.8625  S
   8 │        0       3  male       2.0         3      1  21.075   S
   9 │        1       3  female    27.0         0      2  11.1333  S
  10 │        1       2  female    14.0         1      0  30.0708  C
  11 │        1       3  female     4.0         1      1  16.7     S
  ⋮  │    ⋮        ⋮        ⋮        ⋮        ⋮      ⋮       ⋮        ⋮
 880 │        0       3  male      33.0         0      0   7.8958  S
 881 │        0       3  female    22.0         0      0  10.5167  S
 882 │        0       2  male      28.0         0      0  10.5     S
 883 │        0       3  male      25.0         0      0   7.05    S
 884 │        0       3  female    39.0         0      5  29.125   Q
 885 │        0       2  male      27.0         0      0  13.0     S
 886 │        1       1  female    19.0         0      0  30.0     S
 887 │        0       3  female    29.6421      1      2  23.45    S
 888 │        1       1  male      26.0         0      0  30.0     C
 889 │        0       3  male      32.0         0      0   7.75    Q
                                                            868 rows omitted

In [22]:
describe(train_data)

8×7 DataFrame
 Row │ variable  mean      min     median   max      nmissing  eltype          ⋯
     │ Symbol    Union…    Any     Union…   Any      Int64     Type            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Survived  0.382452  0       0.0      1               0  Int64           ⋯
   2 │ Pclass    2.31159   1       3.0      3               0  Int64
   3 │ Sex                 female           male            0  String7
   4 │ Age       29.6421   0.42    29.6421  80.0            0  Union{Missing,
   5 │ SibSp     0.524184  0       0.0      8               0  Int64           ⋯
   6 │ Parch     0.382452  0       0.0      6               0  Int64
   7 │ Fare      32.0967   0.0     14.4542  512.329         0  Float64
   8 │ Embarked            C                S               0  String1
                                                                1 column omitted

In [23]:
for i in 1:889
    if train_data[i,3] == "male"
        train_data[i,3] = "0"
    elseif train_data[i,3] == "female"
        train_data[i,3] = "1"
    end
end

In [24]:
train_data

889×8 DataFrame
 Row │ Survived  Pclass  Sex      Age       SibSp  Parch  Fare     Embarked
     │ Int64     Int64   String7  Float64?  Int64  Int64  Float64  String1
─────┼──────────────────────────────────────────────────────────────────────
   1 │        0       3  0         22.0         1      0   7.25    S
   2 │        1       1  1         38.0         1      0  71.2833  C
   3 │        1       3  1         26.0         0      0   7.925   S
   4 │        1       1  1         35.0         1      0  53.1     S
   5 │        0       3  0         35.0         0      0   8.05    S
   6 │        0       3  0         29.6421      0      0   8.4583  Q
   7 │        0       1  0         54.0         0      0  51.8625  S
   8 │        0       3  0          2.0         3      1  21.075   S
   9 │        1       3  1         27.0         0      2  11.1333  S
  10 │        1       2  1         14.0         1      0  30.0708  C
  11 │        1       3  1          4.0         1      1  16.7     S
  ⋮  │    ⋮        ⋮        ⋮        ⋮        ⋮      ⋮       ⋮        ⋮
 880 │        0       3  0         33.0         0      0   7.8958  S
 881 │        0       3  1         22.0         0      0  10.5167  S
 882 │        0       2  0         28.0         0      0  10.5     S
 883 │        0       3  0         25.0         0      0   7.05    S
 884 │        0       3  1         39.0         0      5  29.125   Q
 885 │        0       2  0         27.0         0      0  13.0     S
 886 │        1       1  1         19.0         0      0  30.0     S
 887 │        0       3  1         29.6421      1      2  23.45    S
 888 │        1       1  0         26.0         0      0  30.0     C
 889 │        0       3  0         32.0         0      0   7.75    Q
                                                            868 rows omitted

In [25]:
train_data[!,:"Sex"] = parse.(Int64,train_data[!,:"Sex"])

889-element Vector{Int64}:
 0
 1
 1
 1
 0
 0
 0
 0
 1
 1
 1
 1
 0
 ⋮
 1
 1
 0
 1
 0
 0
 1
 0
 1
 1
 0
 0

In [26]:
train_data

889×8 DataFrame
 Row │ Survived  Pclass  Sex    Age       SibSp  Parch  Fare     Embarked
     │ Int64     Int64   Int64  Float64?  Int64  Int64  Float64  String1
─────┼────────────────────────────────────────────────────────────────────
   1 │        0       3      0   22.0         1      0   7.25    S
   2 │        1       1      1   38.0         1      0  71.2833  C
   3 │        1       3      1   26.0         0      0   7.925   S
   4 │        1       1      1   35.0         1      0  53.1     S
   5 │        0       3      0   35.0         0      0   8.05    S
   6 │        0       3      0   29.6421      0      0   8.4583  Q
   7 │        0       1      0   54.0         0      0  51.8625  S
   8 │        0       3      0    2.0         3      1  21.075   S
   9 │        1       3      1   27.0         0      2  11.1333  S
  10 │        1       2      1   14.0         1      0  30.0708  C
  11 │        1       3      1    4.0         1      1  16.7     S
  ⋮  │    ⋮        ⋮       ⋮       ⋮        ⋮      ⋮       ⋮        ⋮
 880 │        0       3      0   33.0         0      0   7.8958  S
 881 │        0       3      1   22.0         0      0  10.5167  S
 882 │        0       2      0   28.0         0      0  10.5     S
 883 │        0       3      0   25.0         0      0   7.05    S
 884 │        0       3      1   39.0         0      5  29.125   Q
 885 │        0       2      0   27.0         0      0  13.0     S
 886 │        1       1      1   19.0         0      0  30.0     S
 887 │        0       3      1   29.6421      1      2  23.45    S
 888 │        1       1      0   26.0         0      0  30.0     C
 889 │        0       3      0   32.0         0      0   7.75    Q
                                                          868 rows omitted

In [27]:
train_data[:,8]

889-element PooledArrays.PooledVector{String1, UInt32, Vector{UInt32}}:
 "S"
 "C"
 "S"
 "S"
 "S"
 "Q"
 "S"
 "S"
 "S"
 "C"
 "S"
 "S"
 "S"
 ⋮
 "C"
 "S"
 "S"
 "S"
 "S"
 "S"
 "Q"
 "S"
 "S"
 "S"
 "C"
 "Q"

In [28]:
for i in 1:889
    if train_data[i,8] == "C"
        train_data[i,8] = "1"
    elseif train_data[i,8] == "Q"
        train_data[i,8] = "2"
    elseif train_data[i,8] == "S"
        train_data[i,8] = "0"
    end
end

In [29]:
train_data

889×8 DataFrame
 Row │ Survived  Pclass  Sex    Age       SibSp  Parch  Fare     Embarked
     │ Int64     Int64   Int64  Float64?  Int64  Int64  Float64  String1
─────┼────────────────────────────────────────────────────────────────────
   1 │        0       3      0   22.0         1      0   7.25    0
   2 │        1       1      1   38.0         1      0  71.2833  1
   3 │        1       3      1   26.0         0      0   7.925   0
   4 │        1       1      1   35.0         1      0  53.1     0
   5 │        0       3      0   35.0         0      0   8.05    0
   6 │        0       3      0   29.6421      0      0   8.4583  2
   7 │        0       1      0   54.0         0      0  51.8625  0
   8 │        0       3      0    2.0         3      1  21.075   0
   9 │        1       3      1   27.0         0      2  11.1333  0
  10 │        1       2      1   14.0         1      0  30.0708  1
  11 │        1       3      1    4.0         1      1  16.7     0
  ⋮  │    ⋮        ⋮       ⋮       ⋮        ⋮      ⋮       ⋮        ⋮
 880 │        0       3      0   33.0         0      0   7.8958  0
 881 │        0       3      1   22.0         0      0  10.5167  0
 882 │        0       2      0   28.0         0      0  10.5     0
 883 │        0       3      0   25.0         0      0   7.05    0
 884 │        0       3      1   39.0         0      5  29.125   2
 885 │        0       2      0   27.0         0      0  13.0     0
 886 │        1       1      1   19.0         0      0  30.0     0
 887 │        0       3      1   29.6421      1      2  23.45    0
 888 │        1       1      0   26.0         0      0  30.0     1
 889 │        0       3      0   32.0         0      0   7.75    2
                                                          868 rows omitted

In [30]:
train_data[!,:"Embarked"] = parse.(Int64,train_data[!,:"Embarked"])

889-element Vector{Int64}:
 0
 1
 0
 0
 0
 2
 0
 0
 0
 1
 0
 0
 0
 ⋮
 1
 0
 0
 0
 0
 0
 2
 0
 0
 0
 1
 2

In [31]:
train_data

889×8 DataFrame
 Row │ Survived  Pclass  Sex    Age       SibSp  Parch  Fare     Embarked
     │ Int64     Int64   Int64  Float64?  Int64  Int64  Float64  Int64
─────┼────────────────────────────────────────────────────────────────────
   1 │        0       3      0   22.0         1      0   7.25           0
   2 │        1       1      1   38.0         1      0  71.2833         1
   3 │        1       3      1   26.0         0      0   7.925          0
   4 │        1       1      1   35.0         1      0  53.1            0
   5 │        0       3      0   35.0         0      0   8.05           0
   6 │        0       3      0   29.6421      0      0   8.4583         2
   7 │        0       1      0   54.0         0      0  51.8625         0
   8 │        0       3      0    2.0         3      1  21.075          0
   9 │        1       3      1   27.0         0      2  11.1333         0
  10 │        1       2      1   14.0         1      0  30.0708         1
  11 │        1       3      1    4.0         1      1  16.7            0
  ⋮  │    ⋮        ⋮       ⋮       ⋮        ⋮      ⋮       ⋮        ⋮
 880 │        0       3      0   33.0         0      0   7.8958         0
 881 │        0       3      1   22.0         0      0  10.5167         0
 882 │        0       2      0   28.0         0      0  10.5            0
 883 │        0       3      0   25.0         0      0   7.05           0
 884 │        0       3      1   39.0         0      5  29.125          2
 885 │        0       2      0   27.0         0      0  13.0            0
 886 │        1       1      1   19.0         0      0  30.0            0
 887 │        0       3      1   29.6421      1      2  23.45           0
 888 │        1       1      0   26.0         0      0  30.0            1
 889 │        0       3      0   32.0         0      0   7.75           2
                                                          868 rows omitted

In [32]:
train_data = dropmissing(train_data, :"Age")

889×8 DataFrame
 Row │ Survived  Pclass  Sex    Age      SibSp  Parch  Fare     Embarked
     │ Int64     Int64   Int64  Float64  Int64  Int64  Float64  Int64
─────┼───────────────────────────────────────────────────────────────────
   1 │        0       3      0  22.0         1      0   7.25           0
   2 │        1       1      1  38.0         1      0  71.2833         1
   3 │        1       3      1  26.0         0      0   7.925          0
   4 │        1       1      1  35.0         1      0  53.1            0
   5 │        0       3      0  35.0         0      0   8.05           0
   6 │        0       3      0  29.6421      0      0   8.4583         2
   7 │        0       1      0  54.0         0      0  51.8625         0
   8 │        0       3      0   2.0         3      1  21.075          0
   9 │        1       3      1  27.0         0      2  11.1333         0
  10 │        1       2      1  14.0         1      0  30.0708         1
  11 │        1       3      1   4.0         1      1  16.7            0
  ⋮  │    ⋮        ⋮       ⋮       ⋮       ⋮      ⋮       ⋮        ⋮
 880 │        0       3      0  33.0         0      0   7.8958         0
 881 │        0       3      1  22.0         0      0  10.5167         0
 882 │        0       2      0  28.0         0      0  10.5            0
 883 │        0       3      0  25.0         0      0   7.05           0
 884 │        0       3      1  39.0         0      5  29.125          2
 885 │        0       2      0  27.0         0      0  13.0            0
 886 │        1       1      1  19.0         0      0  30.0            0
 887 │        0       3      1  29.6421      1      2  23.45           0
 888 │        1       1      0  26.0         0      0  30.0            1
 889 │        0       3      0  32.0         0      0   7.75           2
                                                         868 rows omitted

In [33]:
# train_data = select(train_data, Not(:"Fare"))

In [34]:
# train_data = select(train_data, Not(:"Age"))

In [35]:
targets = select(train_data, Not(:"Survived"))

889×7 DataFrame
 Row │ Pclass  Sex    Age      SibSp  Parch  Fare     Embarked
     │ Int64   Int64  Float64  Int64  Int64  Float64  Int64
─────┼─────────────────────────────────────────────────────────
   1 │      3      0  22.0         1      0   7.25           0
   2 │      1      1  38.0         1      0  71.2833         1
   3 │      3      1  26.0         0      0   7.925          0
   4 │      1      1  35.0         1      0  53.1            0
   5 │      3      0  35.0         0      0   8.05           0
   6 │      3      0  29.6421      0      0   8.4583         2
   7 │      1      0  54.0         0      0  51.8625         0
   8 │      3      0   2.0         3      1  21.075          0
   9 │      3      1  27.0         0      2  11.1333         0
  10 │      2      1  14.0         1      0  30.0708         1
  11 │      3      1   4.0         1      1  16.7            0
  ⋮  │   ⋮       ⋮       ⋮       ⋮      ⋮       ⋮        ⋮
 880 │      3      0  33.0         0      0   7.8958         0
 881 │      3      1  22.0         0      0  10.5167         0
 882 │      2      0  28.0         0      0  10.5            0
 883 │      3      0  25.0         0      0   7.05           0
 884 │      3      1  39.0         0      5  29.125          2
 885 │      2      0  27.0         0      0  13.0            0
 886 │      1      1  19.0         0      0  30.0            0
 887 │      3      1  29.6421      1      2  23.45           0
 888 │      1      0  26.0         0      0  30.0            1
 889 │      3      0  32.0         0      0   7.75           2
                                               868 rows omitted

In [36]:
labels = select(train_data, (:"Survived"))

889×1 DataFrame
 Row │ Survived
     │ Int64
─────┼──────────
   1 │        0
   2 │        1
   3 │        1
   4 │        1
   5 │        0
   6 │        0
   7 │        0
   8 │        0
   9 │        1
  10 │        1
  11 │        1
  ⋮  │    ⋮
 880 │        0
 881 │        0
 882 │        0
 883 │        0
 884 │        0
 885 │        0
 886 │        1
 887 │        0
 888 │        1
 889 │        0
868 rows omitted

In [37]:
targets=Matrix(targets)

889×7 Matrix{Float64}:
 3.0  0.0  22.0     1.0  0.0   7.25    0.0
 1.0  1.0  38.0     1.0  0.0  71.2833  1.0
 3.0  1.0  26.0     0.0  0.0   7.925   0.0
 1.0  1.0  35.0     1.0  0.0  53.1     0.0
 3.0  0.0  35.0     0.0  0.0   8.05    0.0
 3.0  0.0  29.6421  0.0  0.0   8.4583  2.0
 1.0  0.0  54.0     0.0  0.0  51.8625  0.0
 3.0  0.0   2.0     3.0  1.0  21.075   0.0
 3.0  1.0  27.0     0.0  2.0  11.1333  0.0
 2.0  1.0  14.0     1.0  0.0  30.0708  1.0
 3.0  1.0   4.0     1.0  1.0  16.7     0.0
 1.0  1.0  58.0     0.0  0.0  26.55    0.0
 3.0  0.0  20.0     0.0  0.0   8.05    0.0
 ⋮                             ⋮
 1.0  1.0  56.0     0.0  1.0  83.1583  1.0
 2.0  1.0  25.0     0.0  1.0  26.0     0.0
 3.0  0.0  33.0     0.0  0.0   7.8958  0.0
 3.0  1.0  22.0     0.0  0.0  10.5167  0.0
 2.0  0.0  28.0     0.0  0.0  10.5     0.0
 3.0  0.0  25.0     0.0  0.0   7.05    0.0
 3.0  1.0  39.0     0.0  5.0  29.125   2.0
 2.0  0.0  27.0     0.0  0.0  13.0     0.0
 1.0  1.0  19.0     0.0  0.0  30.0     0.0
 3.0  1.0  29.6421  1.0  2.0  23.45    0.0
 1.0  0.0  26.0     0.0  0.0  30.0     1.0
 3.0  0.0  32.0     0.0  0.0   7.75    2.0

In [38]:
labels = Matrix(labels)

889×1 Matrix{Int64}:
 0
 1
 1
 1
 0
 0
 0
 0
 1
 1
 1
 1
 0
 ⋮
 1
 1
 0
 0
 0
 0
 0
 0
 1
 0
 1
 0

In [39]:
targets = reshape(targets,(7,889))

7×889 Matrix{Float64}:
 3.0  3.0  3.0  2.0  3.0  1.0  3.0  3.0  …  1.0  1.0  0.0  0.0  0.0  0.0  0.0
 1.0  3.0  2.0  3.0  3.0  3.0  2.0  3.0     1.0  0.0  0.0  0.0  0.0  0.0  2.0
 3.0  2.0  3.0  1.0  1.0  3.0  3.0  3.0     0.0  0.0  1.0  0.0  0.0  1.0  0.0
 1.0  3.0  2.0  3.0  1.0  3.0  3.0  1.0     0.0  1.0  1.0  1.0  0.0  0.0  0.0
 3.0  1.0  3.0  3.0  3.0  3.0  3.0  2.0     0.0  0.0  0.0  0.0  1.0  0.0  0.0
 3.0  3.0  3.0  3.0  2.0  3.0  3.0  1.0  …  1.0  0.0  0.0  0.0  1.0  0.0  1.0
 1.0  3.0  2.0  1.0  1.0  2.0  3.0  1.0     0.0  0.0  0.0  0.0  0.0  0.0  2.0

In [40]:
labels = reshape(labels,(1,889))

1×889 Matrix{Int64}:
 0  1  1  1  0  0  0  0  1  1  1  1  0  …  1  1  0  0  0  0  0  0  1  0  1  0

In [41]:
using Flux: logitcrossentropy, normalise, onecold, onehotbatch

In [42]:
NNlib.sigmoid(0)

0.5

In [43]:
normed_targets = normalise(targets, dims=2)

7×889 Matrix{Float64}:
 -0.316163  -0.316163  -0.316163  …  -0.474612  -0.474612  -0.474612
 -0.316976  -0.246518  -0.281747     -0.352205  -0.352205  -0.281747
 -0.28087   -0.328917  -0.28087      -0.425012  -0.376965  -0.425012
 -0.371573  -0.282601  -0.327087     -0.416059  -0.416059  -0.416059
 -0.31651   -0.41017   -0.31651      -0.41017   -0.456999  -0.456999
 -0.249688  -0.249688  -0.249688  …  -0.328388  -0.367737  -0.328388
 -0.309982  -0.236037  -0.273009     -0.346954  -0.346954  -0.273009

In [44]:
train_indices = [1:3:889 ; 2:3:889]

593-element Vector{Int64}:
   1
   4
   7
  10
  13
  16
  19
  22
  25
  28
  31
  34
  37
   ⋮
 854
 857
 860
 863
 866
 869
 872
 875
 878
 881
 884
 887

In [45]:
X_train = normed_targets[:, train_indices]
y_train = labels[:, train_indices]

1×593 Matrix{Int64}:
 0  1  0  1  0  1  0  1  0  0  0  0  1  …  1  1  0  0  0  0  0  0  1  0  0  0

In [46]:
X_train

7×593 Matrix{Float64}:
 -0.316163  -0.368979  -0.316163  …  -0.421795  -0.421795  -0.474612
 -0.316976  -0.246518  -0.281747     -0.281747  -0.352205  -0.352205
 -0.28087   -0.376965  -0.28087      -0.376965  -0.425012  -0.425012
 -0.371573  -0.282601  -0.282601     -0.416059  -0.371573  -0.416059
 -0.31651   -0.31651   -0.31651      -0.41017   -0.456999  -0.41017
 -0.249688  -0.249688  -0.249688  …  -0.367737  -0.367737  -0.328388
 -0.309982  -0.309982  -0.236037     -0.346954  -0.346954  -0.346954

In [47]:
X_test = normed_targets[:, 3:3:889]
y_test = labels[:, 3:3:889]

1×296 Matrix{Int64}:
 1  0  1  1  0  1  0  1  0  0  1  0  0  …  1  0  1  1  0  1  1  0  1  0  0  1

In [48]:
full_train_data = (X_train, y_train)

([-0.31616311369646316 -0.3689792729155915 … -0.42179543213471987 -0.4746115913538482; -0.3169760476303043 -0.24651779274503116 … -0.35220517507294086 -0.35220517507294086; … ; -0.24968839294246226 -0.24968839294246226 … -0.36773707519174037 -0.328387514441981; -0.3099817968052739 -0.3099817968052739 … -0.3469542048337939 -0.3469542048337939], [0 1 … 0 0])

In [49]:
testing_data = (X_test,y_test)

([-0.31616311369646316 -0.42179543213471987 … -0.4746115913538482 -0.4746115913538482; -0.2817469201876677 -0.24651779274503116 … -0.35220517507294086 -0.35220517507294086; … ; -0.24968839294246226 -0.24968839294246226 … -0.36773707519174037 -0.36773707519174037; -0.27300938877675385 -0.27300938877675385 … -0.3469542048337939 -0.3469542048337939], [1 0 … 0 1])

In [50]:
X_test

7×296 Matrix{Float64}:
 -0.316163  -0.421795  -0.368979  …  -0.421795  -0.474612  -0.474612
 -0.281747  -0.246518  -0.246518     -0.352205  -0.352205  -0.352205
 -0.28087   -0.28087   -0.328917     -0.425012  -0.376965  -0.376965
 -0.327087  -0.282601  -0.282601     -0.416059  -0.371573  -0.416059
 -0.31651   -0.31651   -0.31651      -0.41017   -0.456999  -0.456999
 -0.249688  -0.249688  -0.328388  …  -0.367737  -0.367737  -0.367737
 -0.273009  -0.273009  -0.236037     -0.346954  -0.346954  -0.346954

In [51]:
testing_data

([-0.31616311369646316 -0.42179543213471987 … -0.4746115913538482 -0.4746115913538482; -0.2817469201876677 -0.24651779274503116 … -0.35220517507294086 -0.35220517507294086; … ; -0.24968839294246226 -0.24968839294246226 … -0.36773707519174037 -0.36773707519174037; -0.27300938877675385 -0.27300938877675385 … -0.3469542048337939 -0.3469542048337939], [1 0 … 0 1])

In [52]:
pred(x, model) = Int64(round(model(x)[1]))

pred (generic function with 1 method)

In [208]:
model =  Chain(Dense(7, 64, NNlib.relu),Dense(64,128,NNlib.relu),Dense(128,32,NNlib.relu),Dense(32,16,NNlib.relu),Dense(16,7,NNlib.relu),Dense(7,1,NNlib.sigmoid))

Chain(
  Dense(7, 64, relu),                   # 512 parameters
  Dense(64, 128, relu),                 # 8_320 parameters
  Dense(128, 32, relu),                 # 4_128 parameters
  Dense(32, 16, relu),                  # 528 parameters
  Dense(16, 7, relu),                   # 119 parameters
  Dense(7, 1, σ),                       # 8 parameters
)                   # Total: 12 arrays, 13_615 parameters, 53.934 KiB.

In [209]:
model

Chain(
  Dense(7, 64, relu),                   # 512 parameters
  Dense(64, 128, relu),                 # 8_320 parameters
  Dense(128, 32, relu),                 # 4_128 parameters
  Dense(32, 16, relu),                  # 528 parameters
  Dense(16, 7, relu),                   # 119 parameters
  Dense(7, 1, σ),                       # 8 parameters
)                   # Total: 12 arrays, 13_615 parameters, 53.934 KiB.

In [210]:
loss(x, y) = Flux.Losses.binarycrossentropy(model(x), y)

loss (generic function with 1 method)

In [211]:
using Flux: train!

opt = Flux.Optimise.ADAM()

ADAM(0.001, (0.9, 0.999), 1.0e-8, IdDict{Any, Any}())

In [212]:
training_data = Iterators.repeated((X_train, y_train), 1000)

Base.Iterators.Take{Base.Iterators.Repeated{Tuple{Matrix{Float64}, Matrix{Int64}}}}(Base.Iterators.Repeated{Tuple{Matrix{Float64}, Matrix{Int64}}}(([-0.31616311369646316 -0.3689792729155915 … -0.42179543213471987 -0.4746115913538482; -0.3169760476303043 -0.24651779274503116 … -0.35220517507294086 -0.35220517507294086; … ; -0.24968839294246226 -0.24968839294246226 … -0.36773707519174037 -0.328387514441981; -0.3099817968052739 -0.3099817968052739 … -0.3469542048337939 -0.3469542048337939], [0 1 … 0 0])), 1000)

In [213]:
parameters = Flux.params(model)

Params([Float32[-0.15897551 0.16507879 … -0.112260826 -0.18296087; -0.058236126 -0.08665043 … -0.14200883 0.043537974; … ; -0.27844587 0.123959094 … 0.2159374 -0.10595812; 0.23032495 0.0269144 … 0.12128666 0.06997636], Float32[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  …  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], Float32[-0.055694826 -0.17242071 … -0.0774759 -0.050532028; -0.15944983 -0.13685535 … 0.12724657 0.053338565; … ; -0.098181374 -0.07967048 … 0.08329718 -0.048757877; 0.07306805 0.16039287 … 0.045166165 0.1505713], Float32[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  …  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], Float32[0.111400366 0.17849362 … -0.16399541 -0.045983244; -0.09689419 -0.15032004 … 0.10860812 -0.14321926; … ; 0.11045287 0.15903488 … -0.1782612 0.018339796; -0.10755538 0.14500776 … -0.116420425 -0.057475332], Float32[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  …  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], Float32[-0.09960556 0.25550953 … -0.21815841 -0.27001095; -0.24254735 0.055845965 … -0.31194028 0.23877811; … ; -0.2143136 0.01342335 … -0.03057071 -0.31920028; 0.3054677 -0.33557016 … 0.023662884 0.2910449], Float32[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], Float32[-0.033437163 0.26089835 … 0.50983286 0.27901357; 0.4187923 -0.13370664 … 0.5030817 -0.42523283; … ; -0.2578298 -0.36596215 … 0.19150539 0.4783552; -0.34011638 0.31367862 … 0.2524404 -0.22697951], Float32[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], Float32[0.29123774 -0.17936988 … 0.14014885 -0.39925852], Float32[0.0]])

In [214]:
train!(loss, parameters, training_data, opt)

In [215]:
accuracy(x, y, model) = mean(round(model(x)) .== (y))

accuracy (generic function with 1 method)

In [216]:
function train(model, train)
    # Testing model performance on test data 
    X_train, y_train = train
    total_pred = 0
    correct_pred = 0
    for i in 1:593
        prediction = (pred(X_train[:,i],model))
        true_value = y_train[:,i][1]
        print(prediction)
        print(true_value)
        if prediction == true_value
            correct_pred +=1
        end
        total_pred += 1
    end
    return correct_pred,total_pred

    # To avoid confusion, here is the definition of a Confusion Matrix: https://en.wikipedia.org/wiki/Confusion_matrix
#     println("\nConfusion Matrix:\n")
#     display(confusion_matrix(X_test, y_test, model))
end

train (generic function with 1 method)

In [217]:
correct_pred,total_pred = train(model,full_train_data)

0011101100110001000000001101000000000000000000000000011111010000010010111110000010001100110100010000010000000001001100000001010101000000000101000001000100000000010001000011110000111111000011111100001111001111001111111111001111110011000000110000111100110000000011110001000000010000000001110000000001010000110100000111000000010000001100000000000000110101000001000000010101010100000011001111000000000000000101000000001100000000000011001100000000110011110011000000110011110011111100000011111100000011000011110000010000000000010000000001000100000000000111000100000101000010000100100101001100000001000100001100001111111111000000110000111101000101000100000000000000110000110000000000011100000000000100000000010000000000000000000001000000000100010100010001010010000001100011000000111111000000001100001100110011000000110011000011110011000011110000110000001111000100000000001100000100000000010011010101010001010000000011001100000000000000000101110001000000010100010000000001000000000111000001001100001111000001001000000000001111001111110011000000000000001100000011110000110011110011000000000000111100000000110000000000000001000001000001000100010000001110010100000000000100010100000000000001000000

(488, 593)

In [218]:
print(correct_pred/total_pred)

0.8229342327150084

In [219]:
function test(model, test)
    # Testing model performance on test data 
    X_test, y_test = test
    total_pred = 0
    correct_pred = 0
    for i in 1:296
        prediction = (pred(X_test[:,i],model))
        true_value = y_test[:,i][1]
        print(prediction)
        print(true_value)
        if prediction == true_value
            correct_pred +=1
        end
        total_pred += 1
    end
    return correct_pred,total_pred

    # To avoid confusion, here is the definition of a Confusion Matrix: https://en.wikipedia.org/wiki/Confusion_matrix
#     println("\nConfusion Matrix:\n")
#     display(confusion_matrix(X_test, y_test, model))
end

test (generic function with 1 method)

In [220]:
correct_pred,total_pred = test(model,testing_data)

0110010100010001000001000000110100010100000100001001110110000000000000000010000001000000000001000000000100000100000010000101000101010001010000010000000000000100000000001101011011101010111010111100001101110110111100001101101010100101101000101011010011101100011101001100000000110100000101010100000101000100000000000000000001010100001000010101010110000000000001010101010000010000000101010100010001000001100001010101110011010000100001001100000100000100000011100011000000000011100001010001000000101001010110001101010000010101000100100000010100100000000000010001010000000001010001010001010001000001

(167, 296)

In [221]:
print(correct_pred/total_pred)

0.5641891891891891

In [222]:
total_pred

296

In [223]:
correct_pred

167